body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f8f8f8;
  font-family: "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
}

.login-container {
  width: 350px;
  text-align: center;
}

.logo-area img {
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 56px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
  padding: 15px;
  border: none;
  background-color: #f2f2f2;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  display: block;
  box-sizing: border-box;
  margin-top: 4px;
  padding: 10px;
  border-radius: 12px;
  width: 100%;
  line-height: 24px;
  color: #292929;
  font-size: 16px;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 24px 24px;
}

input[type="submit"] {
  padding: 15px;
  border: none;
  background-color: #ff0000;
  font-weight: bold;
  cursor: not-allowed;
  display: block;
  box-sizing: border-box;
  margin-top: 4px;
  padding: 10px;
  border-radius: 12px;
  color: #f2f2f2;
}

input[type="submit"].active {
  background-color: #c62917;
  cursor: pointer;
}

.signup-link {
  display: block;
  margin-bottom: 40px;
  color: #292929;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.footer-links {
  font-size: 12px;
  color: #a6a6a6;
  display: flex;
  justify-content: center;
  gap: 15px;
}
